.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(35 * var(--width-multiplier));
    padding: calc(32 * var(--width-multiplier)) 0;
    font-size: calc(14 * var(--width-multiplier));
    line-height: 1;
    transition: padding 0.3s ease-in-out;
    @media(max-width: 1024px) {
      padding: calc(16 * var(--width-multiplier)) 0;
    }
    @media(max-width: 767px) {
      padding: calc(10 * var(--width-multiplier)) 0;
    }
  }
  &__wrap {
    display: flex;
    align-items: center;
    gap: calc(45 * var(--width-multiplier));
    margin-left: auto;
    padding: calc(12 * var(--width-multiplier)) calc(24 * var(--width-multiplier));
    border-radius: calc(52 * var(--width-multiplier));
    background-color: var(--white, $white);
    @media(max-width: 1024px) {
      display: contents;
    }
  }
  &__logo {
    display: block;
    width: calc(145 * var(--width-multiplier));
    height: calc(26 * var(--width-multiplier));
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__nav {
    transition: left 0.3s ease-in-out;
    &.open {
      left: 0;
    }
    @media(max-width: 1024px) {
      position: absolute;
      top: 100%;
      left: -100%;
      display: flex;
      flex-direction: column;
      gap: calc(32 * var(--width-multiplier));
      min-height: calc(100dvh - calc(78 * var(--width-multiplier)));
      min-width: 320px;
      padding: calc(32 * var(--width-multiplier)) calc(16 * var(--width-multiplier));
      background-color: var(--white, $white);
    }
    @media(max-width: 767px) {
      min-height: calc(100vh - calc(60 * var(--width-multiplier)));
      width: 100%;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    gap: calc(24 * var(--width-multiplier));
    a {
      transition: color 0.3s ease-in-out;
      &:hover {
        color: var(--primary, $primary);
      }
    }
    @media(max-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__lang {
    display: flex;
    align-items: center;
    gap: calc(6 * var(--width-multiplier));
    @media(max-width: 1024px) {
      display: none;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(50 * var(--width-multiplier));
      height: calc(50 * var(--width-multiplier));
      border-radius: 100%;
      color: var(--black, $black);
      background-color: var(--white, $white);
      box-shadow: 0 0 16px rgba(0, 0, 0, 0);
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      &.active {
        color: var(--white, $white);
        background-color: var(--primary, $primary);
      }
      &:hover:not(.active) {
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
        transform: scale(0.9);
      }
      @media(max-width: 1024px) {
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
      }
    }
    &_mb {
      display: none;
      @media(max-width: 1024px) {
        display: flex;
        gap: calc(16 * var(--width-multiplier));
      }
    }
  }
  &__links {
    display: flex;
    align-items: center;
    gap: calc(6 * var(--width-multiplier));
    @media(max-width: 1024px) {
      display: none;
    }
    &_mb {
      display: none;
      @media(max-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: calc(16 * var(--width-multiplier));
        margin-top: auto;
      }
    }
  }
  &__button {
    min-height: calc(50 * var(--width-multiplier));
    @media(max-width: 1024px) {
      width: 100%;
    }
  }
  &__burger {
    position: relative;
    display: none;
    width: calc(40 * var(--width-multiplier));
    height: calc(40 * var(--width-multiplier));
    padding: calc(10 * var(--width-multiplier)) calc(8 * var(--width-multiplier));
    border-radius: calc(8 * var(--width-multiplier));
    background-color: var(--primary, $primary);
    cursor: pointer;
    transition: 0.3s ease;
    @media(max-width: 1024px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    span {
      pointer-events: none;
      width: 100%;
      height: 2px;
      background-color: var(--white, $white);
      transition: 0.3s ease;
    }
    &.active {
      justify-content: center;

      span {
        width: 110%;
      }

      span:nth-child(1) {
        transform: rotate(40deg) translateX(1px) translateY(3px);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(-40deg) translateY(-2px);
      }
    }
  }
  &.scroll {
    background-color: var(--white, $white);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    .header__container {
      padding: calc(10 * var(--width-multiplier)) 0;
      @media(max-width: 1024px) {
        padding: calc(16 * var(--width-multiplier)) 0;
      }
      @media(max-width: 767px) {
        padding: calc(10 * var(--width-multiplier)) 0;
      }
    }
    @media(max-width: 1024px) {
      box-shadow: unset;
    }
  }
  @media(max-width: 1024px) {
    background-color: var(--white, $white);
  }
}
